SLACK_ACCESS_TOKEN: <xoxp-xxxxx-xxxxxxx-xxxxxxx>
DRINKER_ACCESS_TOKEN: <ASK_KALAN>
GIN_MODE: <YOUR GIN MODE>
ENV: <DEVELOPMENT>
DB_USER: <DB USER>
DB_PORT: <DB PORT>
DB_HOST: <DB HOST>
DB_NAME: <DB NAME>

REDIS_HOST: 192.168.99.100
REDIS_PORT: 32768
REDIS_NAME: redis
